body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#333;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #fff
}

form {
    margin-bottom: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    border-radius: 5px;
}

th, td {
    padding: 10px;
    border: 1px solid #fff;
    color: #fff;
}

th {
    background-color: #111;
}

td {
    background-color: #666;
}

button {
    background-color: #222;
    color: rgb(125, 255, 4);
    border:1px solid rgb(0, 0, 0);
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.delete-button {
    padding: 5px 10px;
    background-color: #900;
    color: #fff;
    border: 1px solid rgb(81, 0, 0);
    cursor: pointer;
}
